<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>ServletCookieExample</display-name>

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>map</servlet-name>
        <servlet-class>servlets.MapServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>map</servlet-name>
        <url-pattern>/map</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>reg</servlet-name>
        <jsp-file>/reg.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>main</servlet-name>
        <jsp-file>/main.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <error-page>
        <location>/error.html</location>
    </error-page>


    <servlet>
        <servlet-name>events</servlet-name>
        <jsp-file>/events.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>events</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>groups</servlet-name>
        <jsp-file>/groups.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>groups</servlet-name>
        <url-pattern>/groups</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>users</servlet-name>
        <jsp-file>/users.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminpanel</servlet-name>
        <jsp-file>/adminpanel.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminpanel</servlet-name>
        <url-pattern>/adminpanel</url-pattern>
    </servlet-mapping>

</web-app>
